{% extends 'blog/base.html' %}
{}
{%block content%}
        <article class="media content-section">
            <img class = "rounded-circle article-img"  src= "{{object.author.profile.image.url }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"d F Y" }}</small>
                {% if object.author == user %}
                    <div style="color: red;">
                        <a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'post-update' object.id %}">Update</a>
                        <a class = "btn btn-danger btn-sm mt-1 mb-1" href = "{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <a style="font-size: 14px; color: #757373;">Category: {{ object.category }}</a>
            <br>
            <p class="article-content" style="margin-top: 20px;">{{ object.content }}</p>
            {% if user.is_authenticated %}
                {% if user in post.favorite.all %}
                    <i id="favorite-button" class="bi bi-bookmark-heart-fill float-right"></i>
                {% else %}
                    <form action = "{% url 'favorite-post' object.id %} " method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn" value="Add to Favorite" name="favorite">
                    </form>
                {% endif %}
            {% endif %}
            <br>
            <hr>
            <br>
            <h3> Comments </h3>
            {% if not object.comments.all %}
                No Comments yet ...  <br>
                <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment-create' post.pk %}"> Add one </a> <br> <br>
            {% else %}
                <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment-create' post.pk %}"> Add Comment </a> <br>  <br>
                {%for comment in object.comments.all %}
                    <div class="comment" style="padding-left: 40px;">
                        <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
                        
                        {{comment.author}}
                        <br>
                        {{comment.body}}
                        <br> <hr> <br>
                    </div>   
                {% endfor %}
                    <!--<a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment-create' post.pk %}"> Add Comment </a>--> <br> <br>                
            {% endif %}
            </div>
        </article>
{%endblock content%}